In [42]:
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [11]:
file_path = "/Users/mikeschnur/Desktop/Bootcamp Folder/Unsupervised Learning/Full_Listings.csv"
#/Users/mikeschnur/Desktop/Bootcamp Folder/Unsupervised Learning/iris.csv
airbnb_df = pd.read_csv(file_path)
airbnb_df.head(30)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,rental_occupied_units_2015,median_value_2015,median_monthly_costs_2015,median_rent_2015,zcta_income_2020,median_household_income_2020,median_family_income_2020,zcta_income_2015,median_household_income_2015,median_family_income_2015
0,90676,Short North - Italianate Cottage,483306,Audra & Lacey,NaN,Near North/University,39.98394,-83.00321,Entire home/apt,213,...,"9,428","203,700","1,554",858,43201,"34,884","47,014",43201,"25,322","51,458"
1,543140,Private queen bedroom 1 - N.Campus,2350409,Edward,NaN,Near North/University,40.01243,-83.00986,Private room,29,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
2,591101,The Bellows' Studio Loft (3rd floor apartment),2889677,Gail,NaN,Near East,39.96086,-82.97968,Private room,100,...,"3,414","102,800","1,120",690,43205,"40,559","44,420",43205,"30,491","32,843"
3,923248,1 Single Bed in a Shared Coed Dorm at the Hostel,4965048,Mathew,NaN,Near North/University,40.01259,-83.00164,Shared room,37,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
4,927867,Full Private Room at the Hostel,4965048,Mathew,NaN,Near North/University,40.01259,-83.00164,Private room,72,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
5,1183297,Hannah's Haus**Prime location in German Village**,235498219,Jessica,NaN,Near South,39.95223,-82.99557,Entire home/apt,193,...,"6,442","254,700","1,975",920,43215,"64,368","92,708",43215,"52,178","125,239"
6,1217678,Comfortable rooms in Clintonville 1,5707733,Russell And Douglas,NaN,Clintonville,40.03828,-83.01838,Private room,85,...,"4,445","211,200","1,575",823,43214,"76,831","101,544",43214,"65,288","92,175"
7,1286887,Better than a hotel! German Village,78761,Jeff & Stevo,NaN,Near South,39.94700,-82.99074,Entire home/apt,241,...,"5,292","97,100","1,214",854,43206,"59,082","63,346",43206,"43,810","44,618"
8,1336145,Comfortable rooms in Clintonville 2,5707733,Russell And Douglas,NaN,Clintonville,40.03689,-83.01830,Private room,85,...,"4,445","211,200","1,575",823,43214,"76,831","101,544",43214,"65,288","92,175"
9,1520102,1 Single Bed in a Shared Coed Dorm at the Hostel,4965048,Mathew,NaN,Near North/University,40.01259,-83.00164,Shared room,40,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
10,1763836,Charming 1BR Clintonville Apt,7785489,Nancy,NaN,Near North/University,40.01796,-83.00267,Entire home/apt,85,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
11,2134901,Terrific Apt just south of OSU,6466841,Linda,NaN,Near North/University,39.98743,-83.01669,Entire home/apt,180,...,"9,428","203,700","1,554",858,43201,"34,884","47,014",43201,"25,322","51,458"
12,2151458,Architect’s House on the Park,10907285,Tom,NaN,Far North,40.07986,-83.01504,Entire home/apt,175,...,"2,835","220,200","1,607","1,009",43085,"93,953","114,258",43085,"76,190","95,938"
13,2172026,Mid-Century Sweet Little Apartment,6466841,Linda,NaN,Near North/University,39.98670,-83.01121,Entire home/apt,140,...,"9,428","203,700","1,554",858,43201,"34,884","47,014",43201,"25,322","51,458"
14,2196955,Close to OSU and Riverside Hospital (30day min),11043646,Curt,NaN,West Olentangy,40.02356,-83.03218,Private room,30,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
15,2227278,German Village Getaway,11366166,Tina,NaN,Near South,39.94098,-82.98737,Entire home/apt,250,...,"5,292","97,100","1,214",854,43206,"59,082","63,346",43206,"43,810","44,618"
16,2262958,Great apartment with extra rooms,6466841,Linda,NaN,Near North/University,39.98702,-83.01136,Entire home/apt,160,...,"9,428","203,700","1,554",858,43201,"34,884","47,014",43201,"25,322","51,458"
17,2349920,Eclectic Short North Escape w/FREE Parking,10776491,Catherine & Bryan,NaN,Near North/University,39.98617,-83.00371,Entire home/apt,287,...,"9,428","203,700","1,554",858,43201,"34,884","47,014",43201,"25,322","51,458"
18,3193181,LUXURY LIVING on a budget,16184897,Toya,NaN,South Linden,40.00870,-82.97472,Entire home/apt,101,...,"5,057","57,500",853,762,43211,"28,610","32,010",43211,"23,710","25,253"
19,3220282,"Quaint, Sunny + Stylish Vic Village Apt",6915183,Lauryn & Matt,NaN,Near North/University,39.98310,-83.01296,Entire home/apt,165,...,"9,428","203,700","1,554",858,43201,"34,884","47,014",43201,"25,322","51,458"
20,3489746,Retreat in the City - River view room in our home,17572985,Leslie,NaN,West Scioto,40.04729,-83.09825,Private room,149,...,"5,321","257,600","1,720",864,43220,"70,167","113,666",43220,"60,412","92,072"
21,3497601,Retreat in the city - Garden view room in our ...,17572985,Leslie,NaN,West Scioto,40.04754,-83.09845,Private room,129,...,"5,321","257,600","1,720",864,43220,"70,167","113,666",43220,"60,412","92,072"
22,3731977,Relaxation Near Easton - Gym & Theater Room!,18986310,Alissa,NaN,Rocky Fork-Blacklick,40.09093,-82.88549,Private room,60,...,"8,691","176,600","1,552",994,43081,"83,296","96,364",43081,"72,250","88,824"
23,3940646,The Manor- 3rd FL. Loft Apt. - Close to Downtown,19532241,Tawana,NaN,Near East,39.96590,-82.97557,Entire home/apt,90,...,"2,607","86,400","1,200",623,43203,"36,418","35,137",43203,"20,904","20,208"
24,3975468,Serial Entrepreneur-Ship (S.E.S),16184897,Toya,NaN,South Linden,40.00899,-82.97534,Private room,55,...,"5,057","57,500",853,762,43211,"28,610","32,010",43211,"23,710","25,253"
25,4291668,Gas FP w/ Pristine Private Entry Studio @ Polaris,11288291,Teresa And Addison,NaN,Far North,40.15220,-82.96164,Entire home/apt,99,...,"1,712","264,500","2,037",951,43035,"133,643","144,204",43035,"105,977","112,276"
26,4679761,King Private Room at the Hostel,4965048,Mathew,NaN,Near North/University,40.01257,-83.00159,Private room,83,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
27,5297763,"Comfy I, 3 Bed, 1 Bath, Free Parking -RoweRentals",27439453,Ingrid & Mike,NaN,Near North/University,39.98879,-83.00255,Entire home/apt,146,...,"9,428","203,700","1,554",858,43201,"34,884","47,014",43201,"25,322","51,458"
28,5372431,No Booking Fees | CMH Airport | Easton,24503470,Erica,NaN,Northeast,40.01048,-82.92681,Private room,68,...,"5,931","82,800","1,062",795,43219,"40,172","48,690",43219,"33,473","40,010"
29,5533834,Large Short North House,28695156,Miles,NaN,Near North/University,39.98296,-82.99871,Entire home/apt,308,...,"9,428","203,700","1,554",858,43201,"34,884","47,014",43201,"25,322","51,458"

In [12]:
airbnb_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_home_listings_count',
       'availability_365', 'number_of_rviews_ltm', 'license', 'zipcode',
       'zcta_housing_2020', 'total_units_2020', 'occupied_units_2020',
       'vacant_units_2020', 'median_rooms_2020', 'owner_occupied_units_2020',
       'rental_occupied_units_2020', 'median_value_2020',
       'median_monthly_costs_2020', 'median_rent_2020', 'zcta_housing_2015',
       'total_units_2015', 'occupied_units_2015', 'vacant_units_2015',
       'median_rooms_2015', 'owner_occupied_units_2015',
       'rental_occupied_units_2015', 'median_value_2015',
       'median_monthly_costs_2015', 'median_rent_2015', 'zcta_income_2020',
       'median_household_income_2020', 'median_family_income_2020',
       'zcta_income_2015', 'median_household_income_2015',
       'median_family_income_2015'],
      dtype='object')

In [13]:
airbnb_df.drop(columns=["host_name","host_id","reviews_per_month","number_of_rviews_ltm",
                                    "last_review","number_of_reviews","availability_365","license",], inplace=True)

In [14]:
airbnb_df.head(10)

,id,name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_home_listings_count,zipcode,...,rental_occupied_units_2015,median_value_2015,median_monthly_costs_2015,median_rent_2015,zcta_income_2020,median_household_income_2020,median_family_income_2020,zcta_income_2015,median_household_income_2015,median_family_income_2015
0,90676,Short North - Italianate Cottage,Near North/University,39.98394,-83.00321,Entire home/apt,213,1,3,43201,...,"9,428","203,700","1,554",858,43201,"34,884","47,014",43201,"25,322","51,458"
1,543140,Private queen bedroom 1 - N.Campus,Near North/University,40.01243,-83.00986,Private room,29,3,3,43202,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
2,591101,The Bellows' Studio Loft (3rd floor apartment),Near East,39.96086,-82.97968,Private room,100,2,1,43205,...,"3,414","102,800","1,120",690,43205,"40,559","44,420",43205,"30,491","32,843"
3,923248,1 Single Bed in a Shared Coed Dorm at the Hostel,Near North/University,40.01259,-83.00164,Shared room,37,1,9,43202,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
4,927867,Full Private Room at the Hostel,Near North/University,40.01259,-83.00164,Private room,72,1,9,43202,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"
5,1183297,Hannah's Haus**Prime location in German Village**,Near South,39.95223,-82.99557,Entire home/apt,193,2,1,43215,...,"6,442","254,700","1,975",920,43215,"64,368","92,708",43215,"52,178","125,239"
6,1217678,Comfortable rooms in Clintonville 1,Clintonville,40.03828,-83.01838,Private room,85,1,2,43214,...,"4,445","211,200","1,575",823,43214,"76,831","101,544",43214,"65,288","92,175"
7,1286887,Better than a hotel! German Village,Near South,39.94700,-82.99074,Entire home/apt,241,3,1,43206,...,"5,292","97,100","1,214",854,43206,"59,082","63,346",43206,"43,810","44,618"
8,1336145,Comfortable rooms in Clintonville 2,Clintonville,40.03689,-83.01830,Private room,85,1,2,43214,...,"4,445","211,200","1,575",823,43214,"76,831","101,544",43214,"65,288","92,175"
9,1520102,1 Single Bed in a Shared Coed Dorm at the Hostel,Near North/University,40.01259,-83.00164,Shared room,40,1,9,43202,...,"6,502","176,800","1,449",851,43202,"56,332","80,461",43202,"45,152","72,263"

In [17]:
airbnb_df.drop(columns=["minimum_nights","name","id","zcta_income_2020","zcta_income_2015",
                                    ], inplace=True)

In [18]:
airbnb_df.head(20)

,neighbourhood,latitude,longitude,room_type,price,calculated_home_listings_count,zipcode,zcta_housing_2020,total_units_2020,occupied_units_2020,...,median_rooms_2015,owner_occupied_units_2015,rental_occupied_units_2015,median_value_2015,median_monthly_costs_2015,median_rent_2015,median_household_income_2020,median_family_income_2020,median_household_income_2015,median_family_income_2015
0,Near North/University,39.98394,-83.00321,Entire home/apt,213,3,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"
1,Near North/University,40.01243,-83.00986,Private room,29,3,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
2,Near East,39.96086,-82.97968,Private room,100,1,43205,43205,7366,5510,...,5.7,"1,791","3,414","102,800","1,120",690,"40,559","44,420","30,491","32,843"
3,Near North/University,40.01259,-83.00164,Shared room,37,9,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
4,Near North/University,40.01259,-83.00164,Private room,72,9,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
5,Near South,39.95223,-82.99557,Entire home/apt,193,1,43215,43215,10791,9609,...,3.3,"1,728","6,442","254,700","1,975",920,"64,368","92,708","52,178","125,239"
6,Clintonville,40.03828,-83.01838,Private room,85,2,43214,43214,13806,12682,...,5.8,"7,878","4,445","211,200","1,575",823,"76,831","101,544","65,288","92,175"
7,Near South,39.94700,-82.99074,Entire home/apt,241,1,43206,43206,12274,10435,...,5.5,"4,491","5,292","97,100","1,214",854,"59,082","63,346","43,810","44,618"
8,Clintonville,40.03689,-83.01830,Private room,85,2,43214,43214,13806,12682,...,5.8,"7,878","4,445","211,200","1,575",823,"76,831","101,544","65,288","92,175"
9,Near North/University,40.01259,-83.00164,Shared room,40,9,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
10,Near North/University,40.01796,-83.00267,Entire home/apt,85,3,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
11,Near North/University,39.98743,-83.01669,Entire home/apt,180,3,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"
12,Far North,40.07986,-83.01504,Entire home/apt,175,1,43085,43085,10514,10115,...,6.4,"7,376","2,835","220,200","1,607","1,009","93,953","114,258","76,190","95,938"
13,Near North/University,39.98670,-83.01121,Entire home/apt,140,3,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"
14,West Olentangy,40.02356,-83.03218,Private room,30,3,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
15,Near South,39.94098,-82.98737,Entire home/apt,250,1,43206,43206,12274,10435,...,5.5,"4,491","5,292","97,100","1,214",854,"59,082","63,346","43,810","44,618"
16,Near North/University,39.98702,-83.01136,Entire home/apt,160,3,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"
17,Near North/University,39.98617,-83.00371,Entire home/apt,287,4,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"
18,South Linden,40.00870,-82.97472,Entire home/apt,101,5,43211,43211,10296,8714,...,5.3,"3,022","5,057","57,500",853,762,"28,610","32,010","23,710","25,253"
19,Near North/University,39.98310,-83.01296,Entire home/apt,165,1,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"

In [19]:
def change_room(r_type):
    if r_type == "Entire home/apt":
        return 1
    else:
        return 0
airbnb_df["room_type"] = airbnb_df["room_type"].apply(change_room)
airbnb_df.head(20)

,neighbourhood,latitude,longitude,room_type,price,calculated_home_listings_count,zipcode,zcta_housing_2020,total_units_2020,occupied_units_2020,...,median_rooms_2015,owner_occupied_units_2015,rental_occupied_units_2015,median_value_2015,median_monthly_costs_2015,median_rent_2015,median_household_income_2020,median_family_income_2020,median_household_income_2015,median_family_income_2015
0,Near North/University,39.98394,-83.00321,1,213,3,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"
1,Near North/University,40.01243,-83.00986,0,29,3,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
2,Near East,39.96086,-82.97968,0,100,1,43205,43205,7366,5510,...,5.7,"1,791","3,414","102,800","1,120",690,"40,559","44,420","30,491","32,843"
3,Near North/University,40.01259,-83.00164,0,37,9,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
4,Near North/University,40.01259,-83.00164,0,72,9,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
5,Near South,39.95223,-82.99557,1,193,1,43215,43215,10791,9609,...,3.3,"1,728","6,442","254,700","1,975",920,"64,368","92,708","52,178","125,239"
6,Clintonville,40.03828,-83.01838,0,85,2,43214,43214,13806,12682,...,5.8,"7,878","4,445","211,200","1,575",823,"76,831","101,544","65,288","92,175"
7,Near South,39.94700,-82.99074,1,241,1,43206,43206,12274,10435,...,5.5,"4,491","5,292","97,100","1,214",854,"59,082","63,346","43,810","44,618"
8,Clintonville,40.03689,-83.01830,0,85,2,43214,43214,13806,12682,...,5.8,"7,878","4,445","211,200","1,575",823,"76,831","101,544","65,288","92,175"
9,Near North/University,40.01259,-83.00164,0,40,9,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
10,Near North/University,40.01796,-83.00267,1,85,3,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
11,Near North/University,39.98743,-83.01669,1,180,3,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"
12,Far North,40.07986,-83.01504,1,175,1,43085,43085,10514,10115,...,6.4,"7,376","2,835","220,200","1,607","1,009","93,953","114,258","76,190","95,938"
13,Near North/University,39.98670,-83.01121,1,140,3,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"
14,West Olentangy,40.02356,-83.03218,0,30,3,43202,43202,9725,8889,...,5.1,"3,205","6,502","176,800","1,449",851,"56,332","80,461","45,152","72,263"
15,Near South,39.94098,-82.98737,1,250,1,43206,43206,12274,10435,...,5.5,"4,491","5,292","97,100","1,214",854,"59,082","63,346","43,810","44,618"
16,Near North/University,39.98702,-83.01136,1,160,3,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"
17,Near North/University,39.98617,-83.00371,1,287,4,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"
18,South Linden,40.00870,-82.97472,1,101,5,43211,43211,10296,8714,...,5.3,"3,022","5,057","57,500",853,762,"28,610","32,010","23,710","25,253"
19,Near North/University,39.98310,-83.01296,1,165,1,43201,43201,15281,13106,...,4.6,"2,080","9,428","203,700","1,554",858,"34,884","47,014","25,322","51,458"

In [31]:
model = KMeans(n_clusters=3, random_state=5)
model

KMeans(n_clusters=3, random_state=5)

In [33]:
airbnb_df.drop(columns=["neighbourhood"], inplace=True)

In [36]:
airbnb_df.drop(columns=["calculated_home_listings_count"], inplace=True)

In [39]:
airbnb_df.head(10)
airbnb_df.dtypes

latitude                        float64
longitude                       float64
room_type                         int64
price                             int64
zipcode                           int64
zcta_housing_2020                 int64
total_units_2020                  int64
occupied_units_2020              object
vacant_units_2020                 int64
median_rooms_2020               float64
owner_occupied_units_2020         int64
rental_occupied_units_2020        int64
median_value_2020                object
median_monthly_costs_2020        object
median_rent_2020                  int64
zcta_housing_2015                 int64
total_units_2015                 object
occupied_units_2015              object
vacant_units_2015                object
median_rooms_2015               float64
owner_occupied_units_2015        object
rental_occupied_units_2015       object
median_value_2015                object
median_monthly_costs_2015        object
median_rent_2015                 object
median_household_income_2020     object
median_family_income_2020        object
median_household_income_2015     object
median_family_income_2015        object
dtype: object

In [46]:
airbnb_df["occupied_units_2020"] = airbnb_df["occupied_units_2020"].astype(float)

airbnb_df['occupied_units_2020'] = pd.to_numeric(airbnb_df['occupied_units_2020'])

ValueError: could not convert string to float: 's'

In [ ]:
airbnb_df.dtypes

In [38]:
model.fit(airbnb_df)

ValueError: could not convert string to float: 's'