In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [2]:
Clean_df = pd.read_csv("../Machine Learning/Clean_Airbnb_Data.csv")
Clean_df.head()

,latitude,longitude,room_type,price,zipcode,zcta_housing_2020,total_units_2020,occupied_units_2020,vacant_units_2020,median_rooms_2020,...,rental_occupied_units_2015,median_value_2015,median_monthly_costs_2015,median_rent_2015,median_household_income_2020,median_family_income_2020,median_household_income_2015,median_family_income_2015,zipcount,class
0,39.98394,-83.00321,1,213,43201,43201,15281,13106.0,2175,4.4,...,9428.0,203700.0,1554.0,858.0,34884.0,47014.0,25322.0,51458.0,434,2
1,40.01243,-83.00986,0,29,43202,43202,9725,8889.0,836,4.9,...,6502.0,176800.0,1449.0,851.0,56332.0,80461.0,45152.0,72263.0,174,2
2,39.96086,-82.97968,0,100,43205,43205,7366,5510.0,1856,5.6,...,3414.0,102800.0,1120.0,690.0,40559.0,44420.0,30491.0,32843.0,203,0
3,40.01259,-83.00164,0,37,43202,43202,9725,8889.0,836,4.9,...,6502.0,176800.0,1449.0,851.0,56332.0,80461.0,45152.0,72263.0,174,2
4,40.01259,-83.00164,0,72,43202,43202,9725,8889.0,836,4.9,...,6502.0,176800.0,1449.0,851.0,56332.0,80461.0,45152.0,72263.0,174,2

In [ ]:
report = ProfileReport(Clean_df)
report

In [4]:
report.to_file("Analysis.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]