In [8]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [9]:
listings_df = pd.read_csv("resources/listings.csv")
listings_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,90676,Short North - Italianate Cottage,483306,Audra & Lacey,NaN,Near North/University,39.98394,-83.00321,Entire home/apt,213,1,605,2022-09-11,4.54,3,161,110,2022-2475
1,543140,Private queen bedroom 1 - N.Campus,2350409,Edward,NaN,Near North/University,40.01243,-83.00986,Private room,29,3,123,2022-08-29,1.00,3,263,16,2019-1344
2,591101,The Bellows' Studio Loft (3rd floor apartment),2889677,Gail,NaN,Near East,39.96086,-82.97968,Private room,100,2,272,2022-09-18,2.21,1,353,30,2019-1230
3,923248,1 Single Bed in a Shared Coed Dorm at the Hostel,4965048,Mathew,NaN,Near North/University,40.01259,-83.00164,Shared room,37,1,286,2022-09-04,2.45,9,359,45,2019-1314
4,927867,Full Private Room at the Hostel,4965048,Mathew,NaN,Near North/University,40.01259,-83.00164,Private room,72,1,63,2022-06-19,0.57,9,352,7,2019-1314

In [3]:
listings_df.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,2.197000e+03,2.197000e+03,0.0,2197.000000,2197.000000,2197.000000,2197.000000,2197.000000,1940.000000,2197.000000,2197.000000,2197.000000
mean,2.354521e+17,1.751620e+08,NaN,39.988539,-82.989310,155.325444,6.442421,50.901684,2.781747,15.794720,197.914429,20.807920
std,3.074351e+17,1.432675e+08,NaN,0.047325,0.049044,123.905519,13.049122,80.326062,2.182015,24.897901,128.962167,24.827134
min,9.067600e+04,7.876100e+04,NaN,39.840500,-83.175060,19.000000,1.000000,0.000000,0.030000,1.000000,0.000000,0.000000
25%,3.986819e+07,4.330344e+07,NaN,39.957060,-83.008930,87.000000,1.000000,4.000000,1.100000,1.000000,78.000000,2.000000
50%,5.203794e+07,1.416151e+08,NaN,39.981705,-82.997900,124.000000,2.000000,19.000000,2.260000,4.000000,172.000000,12.000000
75%,6.048862e+17,2.635022e+08,NaN,40.008370,-82.971360,182.000000,2.000000,61.000000,3.872500,23.000000,337.000000,30.000000
max,7.197658e+17,4.787276e+08,NaN,40.153790,-82.775050,1268.000000,300.000000,723.000000,14.000000,107.000000,365.000000,175.000000

In [12]:
listings_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [4]:
listings_df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

In [5]:
listings_df.info

<bound method DataFrame.info of                       id                                               name  \
0                  90676                   Short North - Italianate Cottage
1                 543140                 Private queen bedroom 1 - N.Campus
2                 591101    The Bellows' Studio Loft  (3rd floor apartment)
3                 923248   1 Single Bed in a Shared Coed Dorm at the Hostel
4                 927867                    Full Private Room at the Hostel
...                  ...                                                ...
2192  719459298609982363   Charming 3 Bedroom Home, Steps from Short North!
2193  719462438891781706  Private Home away from Home close to Schiller ...
2194  719758428460095764      The Top-Floor 1BR Penthouse—Downtown Columbus
2195  719760392721789064   *Cameron Room* Cozy, Close to OSU, Downtown, etc
2196  719765833016581493  *Clara Room* Spacious, Close to OSU, Downtown,...

        host_id      host_name  neighbourhood_group          neighbourhood  \
0        483306  Audra & Lacey                  NaN  Near North/University
1       2350409         Edward                  NaN  Near North/University
2       2889677           Gail                  NaN              Near East
3       4965048         Mathew                  NaN  Near North/University
4       4965048         Mathew                  NaN  Near North/University
...         ...            ...                  ...                    ...
2192  478727368     Lisas Team                  NaN  Near North/University
2193  478727368     Lisas Team                  NaN             Near South
2194  116400313           Nate                  NaN               Downtown
2195  217660325            Jin                  NaN  Near North/University
2196  217660325            Jin                  NaN  Near North/University

       latitude  longitude        room_type  price  minimum_nights  \
0     39.983940 -83.003210  Entire home/apt    213               1
1     40.012430 -83.009860     Private room     29               3
2     39.960860 -82.979680     Private room    100               2
3     40.012590 -83.001640      Shared room     37               1
4     40.012590 -83.001640     Private room     72               1
...         ...        ...              ...    ...             ...
2192  39.979890 -83.001570  Entire home/apt     75               1
2193  39.943780 -82.984220  Entire home/apt     75               1
2194  39.964276 -82.997779  Entire home/apt    118              30
2195  40.008060 -83.002470     Private room     52               2
2196  40.005850 -83.001270     Private room     51               2

      number_of_reviews last_review  reviews_per_month  \
0                   605  2022-09-11               4.54
1                   123  2022-08-29               1.00
2                   272  2022-09-18               2.21
3                   286  2022-09-04               2.45
4                    63  2022-06-19               0.57
...                 ...         ...                ...
2192                  0         NaN                NaN
2193                  0         NaN                NaN
2194                  0         NaN                NaN
2195                  0         NaN                NaN
2196                  0         NaN                NaN

      calculated_host_listings_count  availability_365  number_of_reviews_ltm  \
0                                  3               161                    110
1                                  3               263                     16
2                                  1               353                     30
3                                  9               359                     45
4                                  9               352                      7
...                              ...               ...                    ...
2192                              14                23                      0
2193                              14                54                      0
2194                              25               110                      0
2195                              53                86                      0
2196                              53                19                      0

        license
0     2022-2475
1     2019-1344
2     2019-1230
3     2019-1314
4     2019-1314
...         ...
2192  2021-6642
2193  2022-1940
2194        NaN
2195  2022-2930
2196  2022-2930

[2197 rows x 18 columns]>

In [13]:
duplicates = listings_df.duplicated()
duplicates.sum()

0

In [11]:
listings_df.nunique()

id                                2197
name                              2172
host_id                            876
host_name                          639
neighbourhood_group                  0
neighbourhood                       26
latitude                          1986
longitude                         1925
room_type                            3
price                              393
minimum_nights                      23
number_of_reviews                  285
last_review                        254
reviews_per_month                  664
calculated_host_listings_count      29
availability_365                   329
number_of_reviews_ltm              121
license                           1376
dtype: int64

In [15]:
listings_df["room_type"].value_counts()

Entire home/apt    1779
Private room        412
Shared room           6
Name: room_type, dtype: int64

In [6]:
report = ProfileReport(listings_df)

In [7]:
report

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

AttributeError: 'NoneType' object has no attribute 'replace'